.segment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.infoContainer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

img {
  height: 90%;
}

.image {
  width: 100px;
  height: 100px;
  position: relative;
}

.avatar {
  height: 100%;
  width: 100%;
  border-radius: 40px;
}

.camera {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  border-radius: 40%;
  background-color: grey;
}

.name .email .changeButton{
  width: 100%;
  height: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
}