.filterContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin: 40px 0 24px;
  .search {
    width: 45%
  }
}
.container{
  display: flex;
  text-align: center;
  .message {

    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    margin: 100px auto;
    color: #000000;
    opacity: 0.5;

  }
}
